/*______ SLIDERS ______*/


.detail-slider {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(155, 155, 155, 0.09);
		transform: translate(100px, 85px)
	}
	.slide {
		overflow: hidden;
		img {
			transition-property: transform;
			transition-timing-function: ease;
		}
	}
}

.slider__arrow {
	position: absolute;
	width: 140px;
	bottom: -50px;
	right: 0;
	z-index: 100;
	@include clearfix;
	&>div {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
	}
	.slide-prev{
		float: left;
	}
	.slide-next {
		float: right;
	}
}

.counter {
	position: absolute;
	bottom: -50px;
	right: 55px;
	&>div {
		display: inline-block;
		vertical-align: top;
	}
	&__current-slide {
		position: relative;
		padding-right: 10px;
		&:after {
			content: '/';
			position: absolute;
			right: 0;
		}
	}
}
