/*______ MODALS WINDOWS ______*/

.default-modal {
	padding: 0;
	overflow-x: hidden;
	&.uk-open {
		.uk-modal-dialog {
			transform: translateX(0);
		}
	}
	.uk-modal-dialog {
		position: relative;
		margin: 0 0 0 auto;
		height: 100%;
		width: 50%;
		transform: translateY(0);
		transform: translateX(100%);
		@media (min-width: $mob-xs) {
			width: 100%;
		}
		@media (min-width: $tablet-w) {
			width: 50%;
		};
		.uk-close {
			right: auto;
			top: 20px;
			left: 20px;
			svg {
				width: 30px;
				height: 30px;
				color: $orange;
			}
		}
	}
	.title-h2 {
		@media (min-width: $mob-xs) {
			margin-bottom: 30px;
			font-size: 36px;
		}
		@media (min-width: $desk-w) {
			margin-bottom: 70px;
			font-size: 48px;
		};
	}
	.btn {
		margin-top: 40px;
		height: 60px;
		line-height: 60px;
	}
	.modal-body-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: 500px;
		transform: translate(-50%, -50%);
		@media (min-width: $mob-xs) {
			padding: 0 15px;
		}
	}
}


.video-modal {
	.uk-modal-body {
		padding: 0;
		width: 100%;
		max-width: 600px;
	}
	iframe,
	video {
		width: 100%;
		max-width: 100%;
		min-height: 400px;
	}
}
