/*______ Page About Us ______*/

.about-us-wrapper {
	margin-top: 240px;
	@media (min-width: $mob-xs) {
		margin-top: 70px;
	}
	@media (min-width: $tablet-w) {
		margin-top: 140px;
	};
	@media (min-width: 1366px) {
		margin-top: 240px;
	};
	.breadcrumbs-wrapper {
		margin-bottom: 30px;
	}
	p {
		padding-right: 5%;
		font-weight: 300;
		line-height: 30px;
	}
}
