/*______ Page Business ______*/

.business-wrapper {
	position: relative;
	margin-top: 160px;
	@media (min-width: $mob-xs) {
		margin-top: 40px;
	}
	@media (min-width: $tablet-w) {
		margin-top: 70px;
	};
	@media (min-width: $desk-w) {
		margin-top: 75px;
	};
	.breadcrumbs-wrapper {
		margin-bottom: 20px;
	}
	.uk-container {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			height: 100%;
			width: 0;
			background-color: rgba(155, 155, 155, 0.05);
			transition: width .6s ease 1.8s;
			z-index: 1;
			@media (min-width: $mob-xs) {
				display: none;
			}
			@media (min-width: $desk-w) {
				display: block;
			};
		}
	}
}

.business-list-links {
	@include list-reset;
	margin-left: 35%;
	position: relative;
	z-index: 10;
	@media (min-width: $mob-xs) {
		margin-left: 0;
		margin-top: 50px;
	}
	@media (min-width: $tablet-w) {
		margin-top: 0;
		margin-left: 5%;
	};
	@media (min-width: $desk-w) {
		margin-left: 35%;
	};
	li {
		a {
			color: $orange;
			font-size: 24px;
			line-height: 40px;
			font-weight: 400;
			text-decoration: underline;
			font-family: $boldFont;
		}
	}
}

.business-patners-slider {
	position: relative;
	margin-top: 120px;
	align-items: center;
	z-index: 11;
	.slide {
		filter: grayscale(100%);
		transition: filter .3s ease;
		text-align: center;
		img {
			display: inline;
		}
		&:hover {
			filter: grayscale(0);
		}
	}
}


/*______ Business detail ______*/

.business-detail-wrapper {
	margin-top: 130px;
	@media (min-width: $mob-xs) {
		margin-top: 70px;
	}
	@media (min-width: $tablet-w) {
		margin-top: 100px;
	};
	@media (min-width: $desk-w) {
		margin-top: 130px;
	};
	.breadcrumbs-wrapper {
		margin-bottom: 30px;
	}
	.uk-container {
		position: relative;
	}
}

.service-portfolio-list {
	text-align: center;
	img {
		margin: 0 20px 20px 20px;
		display: inline-block;
		vertical-align: top;
	}
}
