/*______ Page Portfolio Detail ______*/

.portfolio-detail {
	margin-top: 150px;
	@media (min-width: $mob-xs) {
		margin-top: 70px;
	}
	@media (min-width: $desk-w) {
		margin-top: 100px;
	};
	@media (min-width: $desk-w) {
		margin-top: 150px;
	};
	.breadcrumbs-wrapper {
		margin-bottom: 30px;
	}
	.uk-container {
		position: relative;
	}
	.text-block {
		@media (min-width: $desk-w) {
			padding-right: 15%;
		};
	}
}
