/*______ Page Portfolio Detail ______*/

.portfolio-detail {
	margin-top: 150px;
	.uk-container {
		position: relative;
	}
	.text-block {
		@media (min-width: $desk-w) {
			padding-right: 15%;
		};
	}
}
