/*______ Page Portfolio ______*/

.portfolio-wrapper {
	margin-top: 75px;
	.breadcrumbs {
		margin: 0 0 30px;
	}
	h1,.title-h1 {
		margin-top: 0;
	}
	.text-block {
		padding-top: 8px;
	}
}

.portfolio-filter {
	position: relative;
	margin-top: -80px;
	margin-bottom: 30px;
	padding: 150px 0 10px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		height: 100%;
		width: 0;
		background-color: rgba(155, 155, 155, 0.05);
		transition: width .8s ease 1.8s;
		z-index: 1;
	}
	a {
		@include anim-border;
		margin: 0 30px 15px;
		position: relative;
		color: #7f7f7f;
		line-height: 20px;
		word-wrap: nowrap;
		z-index: 20;
		font-weight: 400;
		font-family: $boldFont;
		&.active {
			color: #ac1542;
			&:after {
				background-color: #ac1542;
				width: 100%;
			}
		}
	}
}

.portfolio-list {
	.portfolio-item {
		margin-top: 30px;
		position: relative;
		overflow: hidden;
		&:hover {
			text-decoration: none;
			.img-wrapper {
				img {
					transform: scale(1.2);
				}
			}
		}
		.img-wrapper {
			position: relative;
			margin-bottom: 10px;
			display: block;
			z-index: 15;
			overflow: hidden;
			img {
				transition: transform 2.5s ease;
				will-change: transform;
			}
		}
		.subtitle {
			position: relative;
			color: #000000;
			font-size: 24px;
			line-height: 32px;
			font-weight: 900;
			font-family: $boldFont;
			letter-spacing: -0.24px;
			z-index: 15;
		}
	}
}
