/*______ Animation ______*/

@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale-140deg {
	0% {
		transform: tranlate(0, 0);
	}
	100% {
		transform: translate(45px, 75px)
	}
}


@keyframes scale {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(2);
	}
}
