html,
body,
table {
  font-family: $mainFont;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $black;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all .3s linear;
  &:hover {
    text-decoration: underline;
  }
}

svg {
  transition: fill .3s linear;
}

html.uk-touch {
	body {
		*.uk-invisible {
			display: block !important;
			opacity: 1 !important;
			animation: none !important;
			visibility: visible !important;
		}
		[class*=uk-animation-] {
			@media (min-width: $mob-xs) {
				animation: none;
			};
		}
	}
}

.uk-container {
  margin: 0 auto;
  max-width: $containerWidth;
  box-sizing: border-box;
  &--large {
  	max-width: 1800px;
  }
  @media (min-width: $desk-w) {
  	padding: 0 15px;
  };
}

.uk-lightbox {
	background: rgba(0, 0, 0, .5);
}

.uk-lightbox-button {
	background-color: transparent;
	@include icomoon;
	color: #ffffff;
	opacity: 1;
	font-size: 24px;
	&.uk-slidenav-previous {
		&:before {
			content: "\e900";
		}
	}
	&.uk-slidenav-next {
		&:before {
			content: "\e908";
		}
	}
	&:hover {
		text-decoration: none;
	}
	svg {
		display: none;
	}
}

.uk-lightbox-toolbar {
	background-color: transparent;
	* {
		color: #ffffff;
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #ffffff;
	transition: all .3s ease .3s;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all .3s ease;
		@media (min-width: $mob-xs) {
			width: 150px;	
			height: 150px;
		}
		@media (min-width: $tablet-w) {
			width: 350px;
			height: 350px;
		};
	}
	&.loaded {
		opacity: 0;
		z-index: -1;
		img {
			opacity: 0;
		}
	}
}

@media (min-width: $mob-xs) {
	
};


@media (min-width: $mob-xs) {
	
};

@media (min-width: $mob-s) {
	
};

@media (min-width: $tablet-w) {
	
};

@media (min-width: $desk-w) {
	
};

.remove-margin-bottom {
	margin-top: 0 !important;
}


.remove-margin-bottom {
	margin-bottom: 0 !important;
}
