html,
body,
table {
  font-family: $mainFont;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $black;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all .3s linear;
  &:hover {
    text-decoration: underline;
  }
}

svg {
  transition: fill .3s linear;
}

html.uk-touch {
	body {
		*.uk-invisible {
			display: block !important;
			opacity: 1 !important;
			animation: none !important;
			visibility: visible !important;
		}
		[class*=uk-animation-] {
			@media (min-width: $mob-xs) {
				animation: none;
			};
		}
	}
}

.uk-container {
  margin: 0 auto;
  max-width: $containerWidth;
  box-sizing: border-box;
  @media (min-width: $desk-w) {
  	padding: 0 15px;
  };
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #ffffff;
	transition: all .3s ease .3s;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all .3s ease;
	}
	&.loaded {
		opacity: 0;
		z-index: -1;
		img {
			transform: translate(-60%, -50%);
			opacity: 0;
		}
	}
}

@media (min-width: $mob-xs) {
	
};


@media (min-width: $mob-xs) {
	
};

@media (min-width: $mob-s) {
	
};

@media (min-width: $tablet-w) {
	
};

@media (min-width: $desk-w) {
	
};


.remove-margin-bottom {
	margin-bottom: 0 !important;
}

/*______ Animation ______*/


@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
