/*______ Elements ______*/

h1,.title-h1 {
	margin-top: 20px;
	margin-bottom: 40px !important;
	font-family: $boldFont;
	font-weight: 900;
	font-style: italic;
	color: #323232;
	@media (min-width: $mob-xs) {
		font-size: 40px;
		line-height: 40px;
	}
	@media (min-width: $desk-w) {
		font-size: 60px;
		line-height: 60px;
	};
}

h2, .title-h2 {
	margin-bottom: 25px;
	font-weight: 900;
	font-family: $boldFont;	
	font-style: italic;
	@media (min-width: $mob-xs) {
		font-size: 32px;
		line-height: 36px;
	}
	@media (min-width: $desk-w) {
		font-size: 48px;
		line-height: 54px;
	};
}

h3, .title-h3 {
	margin-bottom: 25px;
	font-weight: 900;
	font-size: 24px;
	line-height: 24px;
	font-family: $boldFont;	
	font-style: italic;
}

table {
	width: 100%;
	border-collapse: collapse;
	thead {
		td {
			color: #9297a1;
			&:first-child {
				padding-left: 40px;
			}
		}
	}
	td {
		padding: 10px 0;
		color: #4b4b4b;
		font-family: $boldFont;
		font-weight: 900;
		font-style: italic;
		border-bottom: 1px solid #9297a1;
	}
	tbody {
		tr {
			&:last-child {
				td {
					border: none;
				}
			}
			td {
				&:first-child {
					padding-left: 40px;
				}
			}
		}
	}
}

.btn {
	padding: 0 15px;
	min-width: 210px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	vertical-align: top;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	background-color: #fa5503;
	transition: all .3s ease;
	cursor: pointer;
	&:hover {
		background-color: darken(#fa5503, 10%);
		color: #ffffff;
		text-decoration: none;
	}
}

.backpage-btn {
	position: absolute;
	color: #000000;
	font-size: 28px;
	@media (min-width: $mob-xs) {
		top: -40px;
		left: 15px;
	}
	@media (min-width: 1366px) {
		top: -2px;
		left: -5%;
	};
	@media (min-width: 1600px) {
		left: -15%;
	}
	&:hover {
		text-decoration: none;
		color: $orange;
	}
}

.play-btn {
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	text-align: center;
	border-radius: 100%;
	background-color: #ffffff;
	@media (min-width: $mob-xs) {
		width: 92px;
		height: 92px;
		line-height: 92px;
	}
	@media (min-width: $tablet-w) {
		width: 130px;
		height: 130px;
		line-height: 130px;
	};
	&:before {
		transition: color .3s ease;
	}
	&:hover {
		text-decoration: none;
		background-color: $orange;
		&:before {
			color: #ffffff;
		}
	}
}

.soc-links {
	transition: margin .3s ease;
	a {
		margin-right: 20px;
		display: inline-block;
		color: #000000;
		font-size: 20px;
		&.icon-vk {
			font-size: 21px;
		}
		&:last-child {
			margin-right: 0;
		}
		&:before {
			transition: color .3s ease;
		}
		&:hover {
			text-decoration: none;
			&:before {
				color: $orange;
			}
		}
	}
}

.text-block {
	position: relative;
	margin-bottom: 30px;
	font-weight: 300;
	line-height: 28px;
	z-index: 400;
	a {
		color: $black;
	}
}

.bold-link {
	font-size: 21px;
	line-height: 30px;
	color: $orange;
	font-family: $boldFont;
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;
	&:hover {
		color: $orange;
	}
}

	.img-wrapper {
		position: relative;
		display: inline-block;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 0;
			height: 100%;
			background-color: rgba(155, 155, 155, 0.09);
			transition: width .8s ease .8s;
			z-index: 40;
			@media (min-width: $mob-xs) {
				display: none;
			}
			@media (min-width: 1366px) {
				display: block;
			};
		}
		&.scale-280deg {
			margin-top: 50px;
			margin-bottom: 70px;
			img {
				position: relative;
				z-index: 50;
			}
			&:before {
				width: 100%;
				transform: translate(80px, -55px);
			}
		}
		&.scale-140deg {
			margin-top: -150px;
			margin-bottom: 70px;
			@media (min-width: $mob-xs) {
				margin-top: 40px;
				margin-bottom: 30px;
				img {
					transform: translate(0, 0);
				}
			}
			@media (min-width: $tablet-w) {
				margin-top: -40px;
			};
			@media (min-width: 1366px) {
				margin-top: -150px;
				margin-bottom: 70px;
				img {
					transform: translate(45px, 75px);
				}
			};
			&:before {
				width: 100%;
			}
		}
	}

/*______ Breadcrumbs ______*/

.breadcrumbs {
	@include list-reset;
	li {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 21px;
		a {
			position: relative;
			margin-right: 10px;
			color: #000000;
			font-size: 14px;
			line-height: 21px;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				right: -9px;
				display: block;
				width: 4px;
				height: 1px;
				background-color: #000000;
			}
			@include anim-border;
		}
	}
}


/*______ Page Controller ______*/

.page-controller {
	position: absolute;
	bottom: -50px;
	font-size: 0;
	@media (min-width: $mob-xs) {
		position: static;
		margin: 40px auto !important;
		text-align: left;
	}
	@media (min-width: $desk-w) {
		position: absolute;
		margin: 0 !important;
	};
	.elem {
		margin-right: 35px;
		display: inline-block;
		vertical-align: top;
		&.arrow {
			font-size: 18px;
		}
		&.sqad {
			font-size: 20px;
		}
		&.text {
			font-size: 18px;
			line-height: 1;
		}
		a {
			color: rgba(0, 0, 0, 0.8);
			&:hover {
				text-decoration: none;
			}
		}
	}
}


.progress-bar {
	position: relative;
	width: 100%;
	height: 10px;
	background-color: #955182;
	&__load {
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 10px;
		background-color: #804670;
		transition-property: width;
		transition-timing-function: ease;
		z-index: 30;
	}
}
