/*______ SourceSansPro ______*/

@font-face {
  font-family: 'SourceSansPro';
  src:  url('../fonts/SourceSansPro/SourceSansPro-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SourceSansPro';
  src:  url('../fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SourceSansPro';
  src:  url('../fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}


/*______ Merriweather ______*/

@font-face {
  font-family: 'Merriweather';
  src:  url('../fonts/Merriweather/Merriweather-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather';
  src:  url('../fonts/Merriweather/Merriweather-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}


@font-face {
  font-family: 'Merriweather';
  src:  url('../fonts/Merriweather/Merriweather-BlackItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
}


/*______ Icomoon ______*/
