{% block content %}
<!-- begin header -->
<header class="header">
	<div class="header-desk uk-visible@l">
		<div class="logo">
			<a href="index.html">
				<div class="logo__img"><img src="img/logo-white.png" alt=""></div>
				<div class="logo__slogan">Bright Brush</div>
			</a>
		</div>
		<div class="uk-container">
			<nav class="main-nav">
				<ul>
					<li><a href="services.html">Услуги</a></li>
					<li><a href="portfolio.html">Портфолио</a></li>
					<li><a href="business.html">Для Бизнеса</a></li>
					<li><a href="price.html">Цены</a></li>
					<li><a href="blog.html">Блог</a></li>
					<li><a href="about-us.html">О нас</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</nav>
			<div class="soc-links">
				<a href="" class="icon-vk"></a>
				<a href="" class="icon-inst"></a>
				<a href="" class="icon-youtube"></a>
			</div>
			<div class="tel">
				<a href="tel:+74959875634">8 495 987 56 34</a>
			</div>
		</div>
		<div class="wrapper-btn">
			<a href="#callback-modal" class="btn" uk-toggle>Напишите нам</a>
		</div>
	</div>
	<div class="header-mobile uk-hidden@l"></div>
</header>
<!-- end header -->
{% endblock %}
