{% block content %}
<!-- begin header -->
<header class="header">
	<div class="logo">
		<a href="">
			<div class="logo__img"><img src="img/logo-white.png" alt=""></div>
			<div class="logo__slogan">Bright Brush</div>
		</a>
	</div>
	<div class="uk-container">
		<nav class="main-nav">
			<ul>
				<li class="active"><a href="#">Услуги</a></li>
				<li><a href="#">Портфолио</a></li>
				<li><a href="#">Для Бизнеса</a></li>
				<li><a href="#">Цены</a></li>
				<li><a href="#">Блог</a></li>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="soc-links">
			<a href="" class="icon-vk"></a>
			<a href="" class="icon-inst"></a>
			<a href="" class="icon-youtube"></a>
		</div>
		<div class="tel">
			<a href="tel:+74959875634">8 495 987 56 34</a>
		</div>
	</div>
	<a href="#callback-modal" class="btn" uk-toggle>Напишите нам</a>
</header>
<!-- end header -->
{% endblock %}
