{% block content %}
<!-- begin header -->
<header class="header">
	<div class="header-desk uk-visible@l">
		<div class="logo">
			<a href="index.html">
				<div class="logo__img"><img src="img/logo-white.png" alt=""></div>
				<div class="logo__slogan">Bright Brush</div>
			</a>
		</div>
		<div class="uk-container">
			<nav class="main-nav">
				<ul>
					<li><a href="services.html">Услуги</a></li>
					<li><a href="portfolio.html">Портфолио</a></li>
					<li><a href="business.html">Для Бизнеса</a></li>
					<li><a href="price.html">Цены</a></li>
					<li><a href="blog.html">Блог</a></li>
					<li><a href="about-us.html">О нас</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</nav>
			<div class="soc-links">
				<a href="" class="icon-vk"></a>
				<a href="" class="icon-inst"></a>
				<a href="" class="icon-youtube"></a>
			</div>
			<div class="tel">
				<a href="tel:+74959875634">8 495 987 56 34</a>
			</div>
		</div>
		<div class="wrapper-btn">
			<a href="#callback-modal" class="btn" uk-toggle>Напишите нам</a>
		</div>
	</div>
	<div class="header-mobile uk-hidden@l">
		<div class="uk-container">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-5">
					<a href="#offcanvas-menu" class="mobile-menu icon-menu" uk-toggle></a>
				</div>
				<div class="uk-width-3-5">
					<a href="index.html" class="mobile-logo">
						<img src="img/mobile-logo.png" alt="Bright Brush">
					</a>
				</div>
				<div class="uk-width-1-5">
					<a href="#callback-modal" class="mobile-tel icon-mobile-tel" uk-toggle></a>
				</div>
			</div>

			<div id="offcanvas-menu" uk-offcanvas>
				<div class="uk-offcanvas-bar">
					<div class="uk-panel">
						<a href="tel:+74959875634">8 495 987 56 34</a>
						<ul class="uk-nav">
							<li><a href="services.html">Услуги</a></li>
							<li><a href="portfolio.html">Портфолио</a></li>
							<li><a href="business.html">Для Бизнеса</a></li>
							<li><a href="price.html">Цены</a></li>
							<li><a href="blog.html">Блог</a></li>
							<li><a href="about-us.html">О нас</a></li>
							<li><a href="contacts.html">Контакты</a></li>
						</ul>
						<div class="soc-links">
							<a href="" class="icon-vk"></a>
							<a href="" class="icon-inst"></a>
							<a href="" class="icon-youtube"></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</header>
<!-- end header -->
{% endblock %}
