{% extends "layouts/default.html" %}
{% set title="Полезные статьи" %}
{% set bread = ["Главная", "Полезные статьи"] %}
{% set textAlign = "uk-text-left" %}
{% block content %}

<div class="content">
	<div class="blog-wrapper">
		<div class="uk-container">
			{% include 'includes/breadcrumbs.html' %}
			<div class="uk-grid">
				<div class="uk-width-1-2@m">
					<h1 class="title-h1 uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1200">Полезные статьи</h1>
				</div>
				<div class="uk-width-1-2@m">
					<div class="text-block uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1400">
						Художественная студия Брайт Браш на 4 летнем опыте знает, что способность понять, а затем воплотить идею в жизнь, есть не что иное, как доставить удовольствие разуму и сердцу. Рисунок стоит тысячи слов. Изображения мы воспринимаем гораздо быстрее, чем слова, и запоминаем надолго. Рисунок – это не только самовыражение, это целый невербальный язык, который работает как эффективный инструмент рекламы в бизнесе. Перевоплощает, раскрывает по-иному жилые пространства.    
					</div>
				</div>
			</div>
		</div>
		<div class="uk-container uk-container--large">
			<div class="blog-list uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1800">
				<div class="uk-grid uk-grid-collapse">
					<div class="uk-width-1-2@l">
						<div class="blog-preview">
							<a href="blog-detail.html">
								<div class="uk-grid uk-grid-collapse">
									<div class="uk-width-1-2@m">
										<div class="blog-preview__img">
											<img class="lazy" data-src="img/blog-img-preview.png" alt="">
										</div>
									</div>
									<div class="uk-width-1-2@m">
										<div class="blog-preview__desc">
											<div class="blog-preview__title">
												Покраска стен под арт-работу
											</div>
											<div class="blog-preview__text">
												Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="uk-width-1-2@l">
						<div class="blog-preview">
							<a href="blog-detail.html">
								<div class="uk-grid uk-grid-collapse">
									<div class="uk-width-1-2@m">
										<div class="blog-preview__img">
											<img class="lazy" data-src="img/blog-img-preview.png" alt="">
										</div>
									</div>
									<div class="uk-width-1-2@m">
										<div class="blog-preview__desc">
											<div class="blog-preview__title">
												Покраска стен под арт-работу
											</div>
											<div class="blog-preview__text">
												Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="uk-width-1-2@l">
						<div class="blog-preview">
							<a href="blog-detail.html">
								<div class="uk-grid uk-grid-collapse">
									<div class="uk-width-1-2@m">
										<div class="blog-preview__desc">
											<div class="blog-preview__title">
												Покраска стен под арт-работу
											</div>
											<div class="blog-preview__text">
												Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.
											</div>
										</div>
									</div>
									<div class="uk-width-1-2@m">
										<div class="blog-preview__img">
											<img class="lazy" data-src="img/blog-img-preview.png" alt="">
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="uk-width-1-2@l">
						<div class="blog-preview">
							<a href="blog-detail.html">
								<div class="uk-grid uk-grid-collapse">
									<div class="uk-width-1-2@m">
										<div class="blog-preview__desc">
											<div class="blog-preview__title">
												Покраска стен под арт-работу
											</div>
											<div class="blog-preview__text">
												Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.Every avid independent filmmaker has dreamed about making that special interest documentary, or short film to show off their creative prowess. Many have great ideas.
											</div>
										</div>
									</div>
									<div class="uk-width-1-2@m">
										<div class="blog-preview__img">
											<img class="lazy" data-src="img/blog-img-preview.png" alt="">
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
