{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% set mainPage = 'main-page' %}
{% block content %}
	<section class="main-page">
		<div class="bg-phone">
			<img src="img/main-page.png" alt="">
		</div>
		<div class="main-page__inner">
			<div class="uk-container">
				<div class="title-h1">
					Art step to jazzy life. <br>
					Bright Brush studio
				</div>
				<div class="main-play-btn-wrapper">
					<a href="#video-modal" class="play-btn icon-play-button" uk-toggle></a>
				</div>
				<div class="slogan">
					Travel new lands and see magical landscapes with the wide 101° field of view through the large lens. The stable and precise head tracking via the built-in gyro sensor and accelerometer makes sure it's a smooth ride.
				</div>
				<div class="main-btn-wrapper">
					<a href="portfolio.html" class="btn">Наши работы</a>
				</div>
				<div class="seo-text">
					Художественная студия Брайт Браш на 4 летнем опыте знает, что способность понять, а затем воплотить идею в жизнь, есть не что иное, как доставить удовольствие разуму и сердцу. Рисунок стоит тысячи слов. Изображения мы воспринимаем гораздо быстрее, чем слова, и запоминаем надолго. Рисунок – это не только самовыражение, это целый невербальный язык, который работает как эффективный инструмент рекламы в бизнесе. Перевоплощает, раскрывает по-иному жилые пространства.  Художественная студия Брайт Браш на 4 летнем опыте знает, что способность понять, а затем воплотить идею в жизнь, есть не что иное, как доставить удовольствие разуму и сердцу. Рисунок стоит тысячи слов. Изображения мы воспринимаем гораздо быстрее, чем слова, и запоминаем надолго. Рисунок – это не только самовыражение, это целый невербальный язык, который работает как эффективный инструмент рекламы в бизнесе. Перевоплощает, раскрывает по-иному жилые пространства.  
				</div>
			</div>
		</div>
	</section>
{% endblock %}
