{% extends "layouts/default.html" %}
{% set title="Наши работы" %}
{% set bread = ["Главная", "Наши работы"] %}
{% set textAlign = "uk-text-left" %}
{% block content %}

<div class="content">
	<div class="uk-container">
		<div class="portfolio-wrapper">
			<ul class="breadcrumbs uk-text-left uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1000">
				<li><a href="">Главная</a></li>
				<li>Наши работы</li>
			</ul>	
			<div class="uk-grid">
				<div class="uk-width-1-2@m">
					<h1 class="title-h1 uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1200">Наши работы</h1>
				</div>
				<div class="uk-width-1-2@m">
					<div class="text-block uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1400">
						Художественная студия Брайт Браш на 4 летнем опыте знает, что способность понять, а затем воплотить идею в жизнь, есть не что иное, как доставить удовольствие разуму и сердцу. Рисунок стоит тысячи слов. Изображения мы воспринимаем гораздо быстрее, чем слова, и запоминаем надолго. Рисунок – это не только самовыражение, это целый невербальный язык, который работает как эффективный инструмент рекламы в бизнесе. Перевоплощает, раскрывает по-иному жилые пространства.  
					</div>
				</div>
				<div class="uk-width-1-1">
					<div class="portfolio-filter uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1400">
						<a href="#" class="active" data-value="all">Все работы</a>
						<a href="#" data-value="rospis-room">Роспись комнаты</a>
						<a href="#" data-value="">Роспись стен в коридоре</a>
						<a href="#" data-value="rospis-provan">Роспись в стиле прован</a>
						<a href="#" data-value="img-3d">Картины 3d для интерьера</a>
						<a href="#" data-value="markeri">Маркеры на стены</a>
						<a href="#" data-value="rospis-shcool">Роспись стен в школе</a>
						<a href="#" data-value="child-room">Детские комнаты</a>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
