{% extends "layouts/default.html" %}
{% set title="Роспись стен в бизнес интерьере" %}
{% set bread = ["Главная", "Наши услуги", "Роспись стен в бизнес интерьере"] %}
{% set textAlign = "uk-text-left" %}
{% block content %}

<div class="content">
	<div class="services-detail-wrapper">
		<div class="uk-container">
			<a href="business.html" class="backpage-btn icon-arrow-left uk-invisible" uk-scrollspy="cls: uk-invisible slide-left; delay: 1600"></a>
				<div class="uk-grid">
					<div class="uk-width-1-2@m">
						{% include 'includes/breadcrumbs.html' %}
						<h1 class="title-h1 uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1200">Роспись стен в бизнес интерьере</h1>
						<div class="text-block uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1400">
							<p>
								К видам развивающейся среды в Европе  можно отнести тематические рисунки на стенах, постепенно необходимость и возможность использования данного инструмента приходит и в Россию. Рекомендуем  использование художественной росписи  в оформлении ресторанов, торговых центров, банков, бизнес-центров, спортивных комплексов, офисов, жилых пространств, квартир, Loft-пространств, фасадов зданий и других объектов.
							</p>
							<p>
								Мы предлагаем Вам: художественную роспись стен, потолков, мебели, деревянных покрытий,  готовы к производству трафаретов для росписи, профессионально подготовим дизайн-проекты.
							</p>
							<p>
								К видам развивающейся среды в Европе  можно отнести тематические рисунки на стенах, постепенно необходимость и возможность использования данного инструмента приходит и в Россию. Рекомендуем  использование художественной росписи  в оформлении ресторанов, торговых центров, банков, бизнес-центров, спортивных комплексов, офисов, жилых пространств, квартир, Loft-пространств, фасадов зданий и других объектов.
							</p>
							<p>
								Мы предлагаем Вам: художественную роспись стен, потолков, мебели, деревянных покрытий,  готовы к производству трафаретов для росписи, профессионально подготовим дизайн-проекты.  
							</p>
						</div>
					</div>	
					<div class="uk-width-1-2@m">
						<div class="service-portfolio-list uk-invisible" uk-scrollspy="cls: uk-invisible slide-up; delay: 1800">
							<img src="" alt="" data-src="img/services-detail-img-1.png" class="lazy">
							<img src="" alt="" data-src="img/services-detail-img-2.png" class="lazy">
							<img src="" alt="" data-src="img/services-detail-img-3.png" class="lazy">
							<img src="" alt="" data-src="img/services-detail-img-4.png" class="lazy">
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

{% endblock %}
